@import url('https://fonts.googleapis.com/css?family=Rubik');

.bot-message{
  padding: 1rem;
  
  width: 40%;
  text-align: start;
}

input[type=text] {
  width: 98%;
  height: 3.5vh;
  padding-top: 2px;
  outline: none;
  background-color: white;
  border: 1px solid white;
  margin-bottom: 2rem;
}

.card {
  width: 70%;
  margin: 0 auto;

}

.card-container {
  display: flex;
  border: 1px solid black;
  height: 5rem;
  background-color: black;
}

.user-message {
  color: white;
  height: 30px;
  padding: 12px;
  border-radius: 15px;
  width: 100%;
  height: fit-content;
}


* {
  box-sizing: border-box;
  margin-top: 2rem;
}

.wrapper {
  border: 1px solid white;
  border-radius: 3px;
  height: 60vh;
  overflow-y: scroll;
  box-sizing: border-box;
  background-color: transparent;

}

.submit {
  cursor: pointer;
  height: 32px;
  padding: 2px 3px;
  font-size: 18px;
  background-color: rgba(251, 249, 249, 0.821);
}

h1 {
  text-align: center;
  font-family: "Rubik";
  color: grey;
}

.button-container {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
  height: 3rem;
  padding: 1rem;
}

.bot {
  float: left;
  background-color: #e5e5ea;
  color: #000;
  width: fit-content;
  margin-right: 29rem;
  border-bottom-left-radius: 0px;
  border-radius: 29px;
  border-bottom-left-radius: 0px;

}

#span_wrapper{
  margin: 0;
}

 span {
  position: relative;
  overflow: hidden;
  display: block;
  line-height: 1.2;
}

 

.client {
  float: right;
  border-radius: 15rem;
  background-color: rgb(12, 120, 215);
  font-size: 19px;
  color: white;
  width: fit-content;
  margin: 1rem;
  border-bottom-right-radius: 0px;
  padding-top: 0px;
}

button,input[type=button] {
  cursor: pointer;
}

.reset-button {
  border-radius: .9rem;
  margin-bottom: 1rem;
}

.agent-button {
  border-radius: .9rem;
  margin-bottom: 1rem;
}

.header {
  display: flex;
  background-color: #000;
  justify-content: space-around;
  margin-bottom: -2rem;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;

}

input[type=button]{
  color: #000;
  
}
::placeholder {
  color: red;
}