@import url('https://fonts.googleapis.com/css?family=Rubik');
input {
  width: 89.8%;
  padding: .3rem .6rem;
  font-weight: bold;
  border: 0rem;
}
.card{
  width: 50%;
  margin: 0 auto;
 
}
.card-container {
  display: flex;
  border: 1px solid black;
}

.chat-bot-message {
  background-color: #868f9b;
  color: black;
  padding: 12px;
  border-radius: 50px;
}

.user-message {
  background-color: #006AFF;
  color: white;
  height: 39px;
  padding: 12px;
  border-radius: 15px;
  width: 100%;
  height: fit-content;
}

* {
  box-sizing: border-box;
}

.wrapper {
  display: block;
  height: 60vh;
  overflow-y: scroll;
  box-sizing: border-box;
}

.submit {
  cursor: pointer;
  padding: 15px;
  border: 0rem;
  font-size: 1rem;
  margin-left: 2rem;
}

h1 {
  margin-left: 17rem;
  font-family: "Rubik";
}

.button-container{
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.2rem;
}

.bot{
  float: left;
  background-color: #E1DFDD;
  color: black;
  width: auto;
  
  margin-right: 29rem;
}

p{
  font-style: in;
}

.client{
  float: right;
  background-color: #006AFF;
  width: auto;
  margin: 2rem;
}
