body{
  margin-top: 2%;
  margin-left: 29rem;
}

input{
  width: 30rem;
  padding: .3rem .6rem;
  border-radius: 10px;
  font-weight: bold;
  position: sticky;
  margin-left: 1rem;
  
}
.card-container{
  display: flex;
  position: -webkit-sticky;
  margin-top: 21.4rem;
}
.icon-container{
 background-color: black;
 border-radius: 10px;
 padding: 5px;
 margin-left: 14px;

}
.svg{
  font-size: 45px;
  color: white;

}
button{
  margin-left: 1rem;
  padding: 15px;
  cursor: pointer;
}
.chat-bot-message{
  background-color: teal;
  padding: 12px;
  border-radius: 10px;
  width: 25%;
  
}
.user-message{
  background-color: rgb(47, 192, 192);
  padding: 12px;
  border-radius: 10px;
  margin-right: 60rem;
}

*{
  box-sizing: border-box;
}

.wrapper{
  border: 1px solid black;
  margin-right: 37vw;
  height: 58vh;
  overflow-y: scroll;
}